[Unit]
Description=Push git repos on system shutdown
RequiresMountsFor=/home

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStop=/home/dominik/Code/dotfiles/scripts/git-push-on-shutdown.py /home/dominik/.pubs /home/dominik/Writing/Magisterium /home/dominik/IFPILM /home/dominik/Code/dotfiles /home/dominik/Code/PlasmaPy

[Install]
WantedBy=multi-user.target
