# /etc/systemd/user/jupyter-notebook.service
[Unit]
Description=Jupyter Notebook Service
After=network.target

[Service]
EnvironmentFile=/home/dominik/.keysrc
ExecStart=/usr/bin/jupyter-lab --config=%h/.jupyter/jupyter_notebook_config.py --no-browser --collaborative
RemainAfterExit=no
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=default.target
