# /etc/systemd/user/jupyter-notebook.service
[Unit]
Description=Jupyter Notebook
After=network.target
After=ssh-agent.service

[Service]
Type=simple
PIDFile=/run/jupyter.pid
ExecStart=
ExecStart=/usr/bin/jupyter-lab --config=%h/.jupyter/jupyter_notebook_config.py --no-browser --collaborative
WorkingDirectory=/home/dominik/Notes/Notebooks
RemainAfterExit=no
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
